# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1538907635 
# Top Level Design Parameters 

# Clocks 
create_clock -period 83.333 -waveform {0.000 41.667} -name {clk} [get_ports {clk}] 
create_clock -period 1000.000 -waveform {0.000 500.000} -name {MATTY_MAIN_VHDL|spi_sclk_inferred_clock} [get_pins {spi_sclk_inferred_clock_RNO/O}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

